#pad{
position: fixed;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 0px;
  padding-top: 10px;
  background:#92dcec;
  width:100%;
  height: auto;
  margin: 0px;
}
#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}
.row{
	margin: 0px;
}
#demo{
  background:#d1d0d2;
  width:100%;
  height: auto;
  top: 75px;
  margin: 0px;
  padding-bottom: 100px;
}
#about{
  background:#d1d0d2;
  width:100%;
  height: auto;
  margin: 0px;

}
#items{
	background: #d1d0d2;
	margin-left: 60px;
}
#sourack{
  color: #5c0d84;
  padding-top: 10px;
  padding-left: 100px;
}

.btn-primary{
  float: right;
  cursor: pointer;
}

.text-over-img {
	z-index:1;
	font-size: 1.2em
	margin-top: -100px;
}

h2 span.spacer {
   padding:0 5px;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
  color: black;
  font-size:x-large;
  font-weight: bold;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;

}

.card{
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #010102;
 }